# fastlane specific
**/fastlane/reports/*.*

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

# Build artifacts, logs, binaries and others
Carthage
DerivedData
.DS_STORE
*.log
*.ipa