# fastlane specific
**/fastlane/reports/*.*

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

# Build artifacts, logs, binaries and others
Pods/
Carthage/
vendor/
DerivedData
.bundle
*.ipa
**/xcuserdata
*.pbxuser
*.mode1v3
*.dSYM.zip

# Others
.DS_Store
*.log

# Sample app source
Ratios*